@tailwind base;
@tailwind components;
@tailwind utilities;


.aspect-long {
  aspect-ratio: 9/16;
  /* Aspect to Video */
}

.aspect-21-9 {
  aspect-ratio: 21/6;
}

.smart-width {
  width: min(100%, 288px);
}

/* Custom scrollbar */
.clean-sidebar::-webkit-scrollbar {
  height: 1px;
  width: 5px;
}

.clean-sidebar::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

.clean-sidebar::-webkit-scrollbar-thumb {
  background-color: #be04d6;
  border-radius: 4px;
}

.clean-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #400546;
}

.chat_height {
  height: calc(100vh - 81px);
}

.swal-icon--custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.swal-icon--custom {
  scale: 2;
}

@media screen and (min-width: 1024px) {
  .clean-sidebar::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #ebebeb;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #671172;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #400546;
  }

  .min-h-screen-custom {
    height: max(calc(100vh - 53px), 100vh);
  }
}

.bg-video-stream-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.885));
}

.min-h-screen-custom {
  height: max(calc(100dvh - 3px), 100vh);
}